<h2 mat-dialog-title class="p-5">
  Tạo link mua sản phẩm
</h2>
<div class="p-5">
  <div class="px-2 py-3 bg-gray-200" (click)="copyUrl(url)">
    {{ url }}
  </div>

  <p class="mt-3">Bấm để sao chép</p>
</div>

<div class="p-5">
  <button
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button" (click)="onClose()">
    Đóng
  </button>
</div>